@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

        <title>PAGE</title>
        <head>
       <style>
       body{
           background-image: url(img/01.JPG);
           background-repeat: repeat;
           background-size: 33% 33%;
          
          
       }
       
        </style>
        </head>
        <body text="green"><div id="menu" align="middle">
            <nav id="navigation" class="style-1 float-right">
                <ul id="responsive">
                    <a href="/index.htm">HOME</a>|
                    <a href="/about/contact_us.htm">Browse Discounts</a>|
                    <a href="/about/contact_us.htm">CONTACT</a>|
                    <a href="/about/index.htm">ABOUT</a>
        </ul>
                </nav>
        </div>

  
<table border="0" width="100%" height="700px">


    <h1 align = "center">Boating & Fishing</h1>
<img src="img/02.png" align="right" height="500" width="500">
<img src="img/08.png" align="center" width="500" height="300">

<h1 align="left"> WELCOME TO FISHING EXPERTS COMPANY</h1> 
<h2 align="left"> We will dive you in the ocean </h2>
<tr height="80">
<td colspan="6">
<font color="white" face="Helvetica" size="5">
    <img src="img/05.png" align="right" width="300" height="300">

</b>
</font>
<f<label for="OUR ACHIVEMENTS" class="fn"><b><font size=9 color="red">OUR ACHIVEMENTS :</font></b></label><br>
<img src="img/03.jpg" align="center" width="500" height="300">

<img src="img/06.png" align="left"  width="600" height="600"> 


<img src="img/04.png" align="center" width="500" height="300">

<img src="img/07.png" align="center" width="500" height="300">

</table>
<pre>
<label for="FirstName" class="fn"><b>Enter Your Name:</b></label>
<input type=text pattern="[A-Za-z]{0,20}" name="FirstName" size=25 required>
  

<label for="Phone" class="fn"><b>Enter Phone No :</b></label>
<input type="tel" name="Number" id="Number" required pattern="[0-9]{11}" placeholder="xxxxxxxxxxx" size=25>


         <input type="Submit" value="Submit" name="Submit">  


</pre>
</body>
</html>
